@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

li {
  list-style: none;
}
/* 
.gift {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 16px;
  justify-content: start;
  align-items: center;
  width: 320px;
  min-height: 598px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
} */
